body{
    font-family:sans-serif;
    margin: 0;
}

header{
    display: flex;
    height: 100px;
    background-color: rgb(27, 27, 27);
    justify-content:center;
    align-items: center;   
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav button{
    background-color: transparent; /* Fondo transparente */
    border: transparent; /* Borde rojo */
    color: blueviolet; /* Texto rojo */
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    outline: none; /* Eliminar el borde de enfoque por defecto */
    transition: background-color 0.3s, color 0.3s;

}
nav button:hover {
    background-color:blueviolet; /* Fondo rojo al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */
}

.menu{
    display: flex;
    align-items: center;
}

.menu img{
    height: 80px;
    border-radius: 60%;
    margin: right 10px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a{
    padding: 6px 60px;
    text-decoration: none;
    color: white;
}

header a:hover{
    color: white;
}

.categoria{
    height: 150px;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;

}
.categoria li{
    display: flex;
    list-style-type: none;
}

h1{
    text-align: center;
    padding: 20px;
    height: 2em;
    text-decoration-line: underline;
}

.producto {
    background: #1f1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*Sombra de fondo*/
    display: flex;  /* Alinea los elementos hijos en una fila */
    align-items: center;  /* Centra verticalmente los elementos */
    padding: 20px;
    gap: 20px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    transition: 0.3s;
}

.contenido-producto {
    flex: 1; /* Permite que el contenido textual ocupe el espacio disponible */
}
.producto:hover{
    transform:scale(1.05);
}

.titulo-producto {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color:white;
}

.descripcion-producto {
    font-size: 0.9em;
    color: white;
    margin: 10px 0;
}

.precio-producto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.precio {
    font-size: 1.2em;
    color: beige;
    font-weight: bold;
}

.boton-editar {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid blueviolet; /* Borde rojo */
    color: blueviolet; /* Texto rojo */
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    outline: none; /* Eliminar el borde de enfoque por defecto */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para cambios de color */
}

body section div button a{
    outline: none;
}

.boton-editar:hover {
    background-color:blueviolet; /* Fondo rojo al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */
}

.boton-eliminar {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid red; /* Borde rojo */
    color: red; /* Texto rojo */
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    outline: none; /* Eliminar el borde de enfoque por defecto */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para cambios de color */
}

.boton-eliminar:hover {
    background-color:red; /* Fondo rojo al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */

}
.imagen-producto {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
    border-radius: 10px;
}
li {
    list-style-type: none;
 }